:root {
    --primary-color: #1a535c;
    --accent-color: #ff6b6b;
    --paragraph-color: #555555;
    --font-family-heading: "Roboto Slab", serif;
    --font-family-base: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 5fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

body {
    font-family: var(--font-family-base);
    color: var(--paragraph-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.intro-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.adventure-gallery {
    padding-bottom: 10px;
}

.gallery-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}

h1, h2 {
    font-family: var(--font-family-heading);
    color: var(--primary-color);
    background-color: var(--accent-color);
    text-align: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: black;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
    top: 350px;
    left: 8%;
    width: 80%;
    padding: 20px;
    border: 1px solid var(--primary-color);
    background-color: #f4ecdc;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #d1d1e1;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}



/* Class Selector */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
}