* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
}

header {
    margin: 0 auto;
    width: 650;
}

h1 {
    margin: 2rem;
    font-size: 1.2em;
    color: navy;
}

header h1 {
    text-align: center;
    font-size: 2rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding: 1rem;
}

input, select, textarea {
    padding: .7rem;
    font-size: 1.1rem;
}

label[for="checkbox"] {
    display: flex;
    flex-direction: row-reverse;
}

input[type="checkbox"] {
    width: 22px;
    margin: 0 0 0 10px;
    height: 25px;
    vertical-align: bottom;
}



label[for="feedback"] {
    text-align: center;
}

button {
    margin: 3rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}
