table {
    border-collapse: collapse;
    border: 5px solid rgb(150 150 150);
}

thead th, tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}

th, td {
    text-align: center;
    border: 2px solid gray;
    padding: 8px 12px;
}