* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-standard: 10px;
}


nav {
    background-color: darkblue;
    padding: var(--padding-standard);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}

h2 {
    font-size: medium;
    color: black;
}

p {margin: 1rem;}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding-standard);
    box-shadow: 0 0 30px gray;
}
p {padding: 0;}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: var(--padding-standard);
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 80px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #eee;
    color: #333;
}
