* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.8em;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;

}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: rgb(236, 233, 233);
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}
